*{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
}

/**================= BARRA DE NAVEGACION ===================* */

.container-navbar{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.navbar_logo{
  height: 55px;
  margin: 0px 20px;
}

.navbar_logo:hover{
  transform: scale(1.3);
}

.ajuste_nav{
  display: flex;
  align-items: center;
}

.nav_list{
  display: flex;
}

.nav_link{
  margin-left: 55px;
  list-style: none;
}   

.nav_link:hover {
  transform: scale(1.2);
}

.nav_link a{
  color:rgb(200, 188, 188);
  text-decoration: none;
}

.nav_link a::after{
  content: "";
  position: absolute; 
  width: 100%;
  height: 1px; 
  bottom: 0;
  left: 0;
  background-color: rgb(200, 188, 188);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav_link:hover a::after{
  opacity: 1;
}

/* *================= PAGINA INDEX ===================* */

.page_title{
  text-align: center;
  color: red;
  font-size: 2rem;
}

h2 {
  text-align: center;
  color: black;
}


.img_container {
  box-sizing: border-box;
  display: flex;
  background: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  background-color: black;
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.gifs_inicio {
  width: 30%;
  height: auto;
  margin: 10px;
}


/* *================= MAIN Y GRAFICAS INDEX.PHP ===================* */

.container_section {
  display: flex;
}

.grafs_container{
  width: 100%;
}

.grafs_navbar {
  flex: 0 0 10%;
  background-color: red;
  padding: 10px;
  color: white;
  bottom: 116px;
  position: fixed;
  z-index: 1;
}

.grafs_navbar h2 {
  margin-bottom: 20px;
}

.index_contents {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index_contents a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
  text-align: center;
}

.index_contents a:hover {
  background-color: #dd4b39;
}

.grafs {
  flex: 1;
  padding: 20px;
}


.img_grafs {
  margin-bottom: 350px;
  margin-left: 220px;
}

.pencil{
  margin-bottom: 20px;
}

.img_grafs img {
  width: 85%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  max-width: 100%;
  margin-bottom: 150px;
  float: left;
}

.img_grafs img:hover {
  transform: scale(1.3);
}

.title {
  color: black;
  margin: 20px 0 150px 0;
  font-size: xx-large;
  text-align: center;
}

/* *================= RESPONSIVE DE PAGINA INDEX ===================* */

@media (max-width:800px)  {
  
  .img_container {
    width: 95%; /* Ajustar el ancho para iPad Pro de 12 pulgadas */
  }

  .footer{
    display: none;
  }

  .grafs_navbar{
    margin: 0;
    bottom: 0;
    padding: 5px;

  }

  .title{
    margin: 10px 10px 0 0;
    text-align: center;
  }

  .img_grafs img{
    width: 85%;
    height: auto;
    float: right;
    transform: none !important;
  }

  .grafs{
    padding: 0;
    width: 100%;
    align-items: start;
  }

  .img_grafs {
    margin-bottom: 50px;
    margin-left: 90px;
  }

  .pencil{
    margin-bottom: 200px;
  }
}
/* *================= PAGINA ACERCA DE NOSOTROS ===================* */

.display-1{
    font-size: 4rem; 
    font-family: 'Impact', sans-serif;
    margin-bottom: 20px;
    color: #333; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
}

.flag{
    font-size: 2rem;
}

.subtema-1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cont_adn {
  display: flex; 
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.p_left, .p_right {
  flex: 1;
  padding: 20px;
  text-align: justify;
  font-family: 'Arial', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.p_left {
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
}
  
.p_right {
  background-color: #eee;
}
 
.list_val {
  list-style: none;
  text-align: center;
}
  
.list_val li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
  
.list_val li:hover {
  background-color: #e6e6e6;
}

.bot_info{
  margin: 5px;
  background-color: #b6b6b6;
  align-items: center;
}

.img_lab {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* *================= FOOTER ===================* */

.footer {
  margin-top: auto;
  background-color: #000000;
  color: #fff; 
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info {
  margin-right: 0;
}

.copyright {
  margin-top: 10px;
}

/* *=================== PAGINA INVENTARIOS.PHP ===================* */

.find_bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.find_bar div{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_button{
  background: black;
  cursor: pointer;
  border: none;
  padding: 12px 20px;
  color: azure;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}
.search_button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, rgb(249, 100, 100), rgb(151, 62, 62), rgb(249, 100, 100), red,rgb(249, 100, 100), rgb(151, 62, 62), rgb(249, 100, 100));
  background-size: 800%;
  border-radius: 12px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0% {
      background-position: 0 0;
  }
  50% {
      background-position: 400% 0;
  }
  100% {
      background-position: 0 0;
  }
}

.search_input {
  border: 2px solid black;
  width: 100%;
  max-width: 80%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 16px;
}

.holder {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 0 auto;
  width: 40%;
}
  

.device-item {
  flex: 1 0 30%;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.device-item img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}


.info_devices {
  padding: 15px;
}

#serie_number {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.info_inv {
  margin-bottom: 5px;
}