*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

body{
  display: block;
  background: #ddd;
  margin-bottom: 50px;
}

.dog{
  display: block;
  margin: 0 auto;
  width:100vw;
  height: 95vh;
}

.navbar_logo{   
  height: 55px;
  margin: 0px 20px; 
  filter: drop-shadow(0px 0px 3px black);
}

.navbar_cabecera{
  width: 100%;
  position: inherit;
  background: linear-gradient(to bottom, red, black);
  margin: auto;
  text-transform: capitalize;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.nav_horizontal{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 45px;
}

.nav_horizontal a{ 
  padding: 0 10px;
  color: rgb(200, 188, 188);
  text-decoration: none;
  cursor: pointer;
}

.username{
  text-shadow:0 0 1px goldenrod;
  text-transform: capitalize;
}

.nav_horizontal p{ 
  padding: 15px 20px;
  color: rgb(200, 188, 188);
}

.nav_horizontal .trans:hover::after {
  content: "";
  display: block;
  background: gray;
  height: 1px;
  transition: all 0.3s ease;
}

.trans:hover{
  transform:scale(1.2) ;
}

.nav_vertical {
  position: absolute;
  display: none;
  list-style: none;
  background: linear-gradient(to top, black,red);
  margin-left: 5px;
}

.nav_horizontal li:hover .nav_vertical{
  display: block;
}

.nav_vertical li:hover{
  background: black;
}

.nav_vertical li a{
  display: block;
  color: rgb(200, 188, 188);
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.container-navbarprelog{
  background: rgb(0, 0, 0); 
  display: flex; 
  justify-content: center; 
}

.navbar_logoprelog{
  height: 55px;
  margin: 0px 20px;
}

.navbar_logoprelog:hover{
  transform: scale(1.3);
}

li > a{
  text-shadow: 2px 2px 5px black;
}

.menu_vertical {
  color: rgb(200, 188, 188);
  padding: 10px;
  position: relative;
}

.menu_vertical a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.menu_vertical li a {
  font-size: 14px;
}

.menu_vertical ul {
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;  
  background: linear-gradient(to top, black,red)  
}

.menu_vertical ul li {
  padding: 10px;
}

.menu_vertical ul li:hover {
  transform: scale(1.1);
  background-color: black;
}

.menu_vertical:hover ul {
  display: block;
}

/*formulario*/

.principal_columns{
  margin: auto;
  align-content: center;
}
div.principal_columns:nth-child(4){
  margin: 20px;
}
.form_container > form:nth-child(1){
  margin: 0 auto;
}

.formulario_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url('../img/tacna3.jpg') center/ cover fixed no-repeat;
}

.icon_form{
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
}

.formulario {
  background: #ff000d8e;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  }
  
.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formulario button[type="submit"] {
  background: #c01b24; 
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background: #99171e;
}

.formulario small {
  color: #000000;
  font-size: 0.8em;
  margin: 5px 5px 15px 5px;
}

.table_inside > tbody > tr> td {
  padding: 15px;
}

/* Pie de pagina */

.footer {
  box-sizing: border-box;
  display: flex;
  background: #000000;
  width: 100%;
  height: auto;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.footer-content {
    border: 1px solid red;
}

.footer-info {
  text-align: center;
  color: #f1f1f1;
  height: 50px;
}
.footer-info > p {
  font-size: 0.7rem;
}

/* Estilos de columna izquierda (contenedor de formulario) */

.head_form {
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px;
}

.form_title {
  text-align: center;
  margin-bottom: 15px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_input{
  display: flex;
  justify-content: flex-end;
}
.form_boxes {
  display: flex;
  margin: 10px;
}

.form_boxes label {
  width: 150px;

}

.input_button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input_button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

select.form_boxes {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn_group {
  display: flex;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  text-shadow: 0 2px 2px black;
}

.btn_export{
  background: #eae6d2;
  margin: 0 0 20px 20px;
  border: 1px solid #000000;
}

.btn_success {
  background: #28a745;
  color: white;
}

.btn_warning {
  background: #ffc107;
  color: black;
}

.btn_danger {
  background: #dc3545;
  color: white;
}

.btn_submit {
  background: #007bff;
  color: white;
}

.btn_primary {
  background: #a4ada3;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

/* Estilos de área de ubicación */
select.form_boxes[name="slUbic"] {
  width: 50%;
  margin: 5px;
}

.form_boxess > select:nth-child(2){
  margin-left: 60px;
  padding: 3px;
}

.busqueda {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: calc(100% - 80px);
  margin: auto;
}

.busqueda:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.inside_form {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  margin: 20px;
  padding: 10px;
}

/* Table Styles */

.table_inside {
  width: 100%;
  height: auto;
} 

.table_insideuser {
  width: 25%;
  margin: 0 auto;
} 

.table_inside th,
.table_inside td {
  padding: 2px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
}

.table_inside thead {
  background: #f1f1f1;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .btn.border {
  border: 1px solid #ddd;
}

.pagination .btn:hover {
  opacity: 0.8;
}

.pagination .active { /* Style for the current page */
  background: #ddd;
}

@media (max-width: 1200px){
  .inside_form > table{
    
    height: auto;
    font-size: small;
    margin:0 auto;
    padding: 0;
    margin-bottom: 20px;
  }
  .username{
    font-size: 1.1rem;
  }
  .navbar_logo{
    width: 80px;
  }
  .navbar_cabecera{
    font-size: 1.2rem;
  }
}

@media (max-width: 700px){
  .inside_form > table{
    width: 50%;
    height: auto;
    font-size: 0.5rem;
    margin:0 auto;
    padding: 0;
  }
  .username{
    font-size: 0.8rem;
  }
  .navbar_logo{
    width: 80px;
    height: auto;
  }
  .navbar_cabecera{
    width: 100%;
    font-size: 0.5rem;
    padding: 0;
  }
}

@media (max-width: 350px){
  .inside_form > table{
    width: 30%;
    height: auto;
    font-size: 0.3rem;
    margin: 0 auto;
    padding: 0;
  }
  .navbar_logo{
    width: 20px;
    height: auto;
  }
  .navbar_cabecera{
    width: 100%;
    position: inherit;
    margin: auto;
    font-size: 0.2rem;
    text-transform: capitalize;
  }
}

/* Seccion de estilos de caja de login */

.box
{
    position: relative;
    width: 380px;
    height: 420px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
}

.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.bordeline
{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderline::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box form
{
    position: absolute;
    inset: 4px;
    background: rgb(255, 0, 0);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2
{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input /**color de letras internas**/
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    text-align: center;
}

.formulario > input:nth-child(4){
  color: #000000;
}

.box form .inputBox span /**color de palabras de cuadro*/
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #ffffff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}

.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 5px;
    background: #fffdfd;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 4px;
    width: 100px;
    margin: 0 auto;
}

.box form input[type="submit"]:active
{
    opacity: 0.8;
}

@media(max-height: 390px){
  .box {
    width: 80%;
    height: 70%;
  }
  .footer {
    display: none;
  }
  .container-navbarprelog {
    display: none;
  }
}

/* Final de seccion de estilos de caja de login */

