/* General Styles */

:root {
  --color_primario: rgb(0, 0, 0);
  --color_primario_suave: red;
  --color_blanco: #ffffff;
  --altura_header: 50px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
  --color_gradiente:linear-gradient(to top, black, red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: block;
  background: #ddd;
  margin-bottom: 50px;
}

select {
  width: 75%;
}

div.form_boxes:nth-child(8) > select:nth-child(2) {
  width: 65%;
}

/* Estilo básico para la lista de tareas */
.contenedor_tareas{
    width: 600px;
    height: auto;
    margin: 50px auto;
    padding: 50px;
    background-color: white;
    border-radius: 12px;
    border: 2px solid black;
}

/* PERFIL */

.perfil span{
    letter-spacing: 1px;
}

#fecha_tarea{
    padding: 100px 0 5px 0;
}

/* AGREGAR TAREA */

.agregar_tarea{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
    margin: 60px 0;
}

.agregar_tarea input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: larger;
}

.agregar_tarea i{
    font-size: 50px;
    color: white;
}

.agregar_tarea i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.agregar_tarea input::placeholder{
    font-size: 1.1rem;
    color: white;
}

.seccion_tarea h3{
    margin-bottom: 20px;
}

.seccion_tarea li{
    background-color: rgb(67, 67, 67);
    display: flex;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    color:white;
}

.seccion_tarea i{
    font-size: 25px;
    color: white;
}

.seccion_tarea i:hover{
    cursor: pointer;
    color: red;
}

.seccion_tarea >ul p{
    font-size: 1.2rem;
}

.line-through {
    text-decoration: line-through;
    color: gray;
}

.navbar_logo {
  height: 55px;
  margin: 0px 20px;
  filter: drop-shadow(0px 0px 3px black);
}

.navbar_cabecera {
  width: 100%;
  position: inherit;
  background: linear-gradient(to bottom, red, black);
  margin: auto;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_horizontal {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 45px;
}

.nav_horizontal a {
  padding: 0 10px;
  color: rgb(200, 188, 188);
  text-decoration: none;
  cursor: pointer;
}
/* 
.username {
  text-shadow: 0 0 1px goldenrod;
  text-transform: capitalize;
} */

.nav_horizontal p {
  padding: 15px 20px;
  color: rgb(200, 188, 188);
}

.nav_horizontal .trans:hover::after {
  content: "";
  display: block;
  background: gray;
  height: 1px;
  transition: all 0.3s ease;
}

.trans:hover {
  transform: scale(1.2);
}

.nav_vertical {
  position: absolute;
  display: none;
  list-style: none;
  background: linear-gradient(to top, black, red);
  margin-left: 5px;
}

.nav_horizontal li:hover .nav_vertical {
  display: block;
}

.nav_vertical li:hover {
  background: black;
}

.nav_vertical li a {
  display: block;
  color: rgb(200, 188, 188);
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.container-navbarprelog {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.navbar_logoprelog {
  height: 55px;
  margin: 0px 20px;
}

.navbar_logoprelog:hover {
  transform: scale(1.3);
}

li > a {
  text-shadow: 2px 2px 5px black;
}

.menu_vertical {
  color: rgb(200, 188, 188);
  padding: 10px;
  position: relative;
}

.menu_vertical a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.menu_vertical li a {
  font-size: 14px;
  text-align: center;
}

.menu_vertical ul {
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;
  background: linear-gradient(to top, black, red);
}

.menu_vertical ul li {
  padding: 10px;
}

.menu_vertical ul li:hover {
  transform: scale(1.1);
  background-color: black;
}

.menu_vertical:hover ul {
  display: block;
}

/* Hamburger Menu Styles */

.navhamb_vert {
  list-style: none;
}

.header_navhamb {
  height: var(--altura_header);
  background-color: var(--color_primario);
}

.navhamb {
display: none;
}

.menu_hamb {
  display: none;
}

.menu_hamb:checked + .navhamb_vert {
  height: calc(100vh - var(--altura_header));
}

.list_icon {
  color: var(--color_blanco);
  cursor: pointer;
}

.navhamb_vert {
  width: 100%;
  background-color: var(--color_primario_suave);
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s;
}

.link_hamb {
  font-size: 1.5em;
  color: var(--color_blanco);
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}

li::marker {
  content: "";
  display: none;
}

.dropdown {
  z-index: 1;
}

/* Pie de pagina */

.footer {
  box-sizing: border-box;
  background: #000000;
  width: 100%;
  height: auto;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.footer-content {
    border: 1px solid red;
}

.footer-info {
  text-align: center;
  color: #f1f1f1;
  height: 50px;
}
.footer-info > p {
  font-size: 0.7rem;
}

@media (max-width: 1366px) {
  .nav_horizontal {
    display: none;
  }

  .footer{
    display: none;
  }

  .lab_hamb {
    display: block;
    cursor: pointer;
  }

  .menu_hamb:checked + .navhamb_vert {
    height: 100%;
    z-index: 1;
  }
  
  .navhamb{
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
  }
  .menu_vertical{
    display: none;
  }
  .inside_form > table{
    height: auto;
    font-size: small;
    margin:0 auto;
    padding: 0;
    margin-bottom: 20px;
  }
  .username{
    font-size: 1.1rem;
  }
  .navbar_logo{
    width: 80px;
  }
  .navbar_cabecera{
    font-size: 1.2rem;
  }
}

@media (min-width: 1367px) {
  .navhamb_vert {
    display: none;
  }

  .nav_horizontal {
    display: flex;
  }

  .footer{
    display: flex;
  }
}

/*formulario*/

.principal_columns{
  margin: auto;
  align-content: center;
  width: 80%;
}

div.principal_columns:nth-child(4){
  margin: 20px;
}

.form_container > form:nth-child(1){
  margin: 0 auto;
}

.sel_bigger{
  width: 65%;
}

/* Contenedor del formulario */
.formulario_container {
  margin: 100px auto; /* Centra el contenedor horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  /* background: url('../img/tacna3.jpg') center/ cover fixed no-repeat;  */
}

/* Icono del formulario */
.icon_form {
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
}

.body_index{
  background: url('../img/tacna3.jpg') center/ cover fixed no-repeat;
}

/* Formulario */
.formulario {
  background: #ff000d8e;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}
  
.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formulario button[type="submit"] {
  background: #c01b24; 
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background: #99171e;
}

.formulario small {
  color: #000000;
  font-size: 0.8em;
  margin: 5px 5px 15px 5px;
}

.table_inside > tbody > tr> td {
  padding: 15px;
}

/* Estilos de columna izquierda (contenedor de formulario) */

.head_form {
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px;
}

.form_title {
  text-align: center;
  margin-bottom: 15px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_containersearch {
  display: flex;
  justify-content: end;
  margin: 20px 0;
}

.form_input{
  display: flex;
  justify-content: flex-end;
}
.form_boxes {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.form_boxes label {
  width: 150px;
  align-content: center;
  margin: 0 10px;
}

.input_button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-width: 65%;
}

textarea{
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  min-width: 65%;
  border: 1px solid #ccc;
  padding: 5px;
}

#archivo{
  max-width: 65%;
}

.input_button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

select.form_boxes {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0;
}

.btn_group {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  text-shadow: 0 2px 2px black;
}

.btn_export{
  background: #eae6d2;
  margin: 0 0 20px 20px;
  border: 1px solid #000000;
}

.btn_success {
  background: #28a745;
  color: white;
}

.btn_warning {
  background: #ffc107;
  color: white;
}

.btn_danger {
  background: #dc3545;
  color: white;
}

.btn_submit {
  background: #007bff;
  color: white;
}

.btn_primary {
  background: #a4ada3;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

/* Estilos de área de ubicación */
select.form_boxes[name="slUbic"] {
  width: 50%;
  margin: 5px;
}

.form_boxess > select:nth-child(2){
  margin-left: 60px;
  padding: 3px;
}

.busqueda { 
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: calc(100% - 80px);
  margin: auto;
}

.busqueda:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.inside_form {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  margin: 20px;
  margin-bottom: 60px;
  padding: 10px;
}

div.inside_form:nth-child(3){
  margin-bottom: 40px;
}

/* Table Styles */

.table_inside {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
} 

.table_insideuser {
  width: 25%;
  margin: 0 auto;
} 

.table_inside th,
.table_inside td {
  padding: 2px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
}
@media (max-width: 834px){
  .table_inside th,
  .table_inside td {
    padding: 0;
    font-size: 10px;

  .form_title{
    font-size: 12px;
  }
  div.form_boxes > label{
    font-size: 10px;
  }
  }
  body{
    font-size: 10px;
  }
}

.table_inside thead {
  background: #f1f1f1;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .btn.border {
  border: 1px solid #ddd;
}

.pagination .btn:hover {
  opacity: 0.8;
}

.pagination .active { /* Style for the current page */
  background: #ddd;
}

/* Seccion de estilos de caja de login */

.box
{
    position: relative;
    width: 380px;
    height: 420px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
}

.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.bordeline
{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderline::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box form
{
    position: absolute;
    inset: 4px;
    background: rgb(255, 0, 0);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2
{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input /**color de letras internas**/
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    text-align: center;
}

.formulario > input:nth-child(4){
  color: #000000;
}

.box form .inputBox span /**color de palabras de cuadro*/
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #ffffff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}

.formulario > input:nth-child(4)
{
  background: black;
  cursor: pointer;
  color: azure;
  font-size: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 15px auto;
  padding: 5px 10px;
}
.formulario > input:nth-child(4):hover{
  transform: scale(1.1);
}

/* PROFILE */

#profile_container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

#profile_img {
  position: relative;
  display: flex;
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 5px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* cursor: pointer; */
}

#profile_img > img {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 50%;
}

/* .icono {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#profile_img:hover .icono {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#profile_img:hover .overlay {
  opacity: 1;
} */

.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  text-align: center;
}

.label-input {
  display: flex;
  align-items: center;
}

.label-input label {
  margin: 10px;
}

.profile > label,
.profile > input{
  text-align: center;
}

.profile p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#userOf,
#userP {
  width: 100%;
  text-align: center;
}

.profile > form > label{
  text-align: center;
}