*{
  margin:   0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* body de cabecera */

.body_navbar{
  background: #ddd;
}

/* Imagen de perrito en el inicio */

.img_inicio {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2px;
  justify-content: center;

}

.body_navbar .dog{
  width: 50%; /* Ajusta el ancho de las imágenes */
  height: auto;
  opacity: 0.8;
}

/* Barra de navegacion cuando entra el usuario su contraseña en la pagina de inicio */

.navbar_logo{ 
  height: 55px;
  margin: 0px 20px; 
  filter: drop-shadow(0px 0px 3px black);
}


.navbar_cabecera{
  max-width: 100%;
  background: linear-gradient(to bottom, red,black);
  margin-top: 0;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  height: 75px;
  border-bottom: 2px solid #b91e27;
}

.nav_horizontal{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav_horizontal a{ 
  display: block; 
  padding: 15px 20px;
  color: rgb(200, 188, 188);
  text-decoration: none;
  color:rgb(200, 188, 188);
  text-decoration: none;
}


.nav_horizontal p{ 
  display: block;
  padding: 15px 20px;
  color: rgb(200, 188, 188);
  text-decoration: none;
}

.nav_horizontal li:hover::after {
  content: "";
  display: block;
  background: gray;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.trans:hover{
  transform:scale(1.1) ;
}

.nav_vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 120px;
  background: black;
  border-bottom: 2px solid #b91e27;
  border-left: 2px solid #b91e27;
  border-right: 2px solid #b91e27;
}

.nav_horizontal li:hover .nav_vertical{
  display: block;
}

.nav_vertical li:hover{
  background: black;
}

.nav_vertical li a{
  display: block;
  color: rgb(200, 188, 188);
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}




/* Barra de navegacion de antes de prelogearte */

.container-navbarprelog{
    background: rgb(0, 0, 0); 
    display: flex; 
    justify-content: center; 
}

.navbar_logoprelog{
  height: 55px;
  margin: 0px 20px;
}

.navbar_logoprelog:hover{
  transform: scale(1.3);
}

/*formulario*/

.formulario_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url('../img/tacna3.jpg') center/ cover fixed no-repeat;
}

.icon_form{
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
}

.formulario {
  background: #ff000d8e;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  }
  
.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formulario button[type="submit"] {
  background: #c01b24; 
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background: #99171e;
}

.formulario small {
  color: #000000;
  font-size: 0.8em;
  margin: 5px 5px 15px 5px;
}

/* Pie de pagina */

.footer {
  background: #000000;
  color: #fff; /* Adjusted color for improved contrast */
  padding: 10px 20px; /* Reduced padding for smaller size */
  text-align: center;
  position: fixed; /* Ensures footer stays at bottom */
  bottom: 0;
  width: 100%;
  height: 50px; /* Set a fixed height for consistent size */
}

.footer.sticky { /* Add a new class */
  position: static; /* Reset position to allow other content to flow */
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Adjust spacing for better layout */
  align-items: center;
}

.footer-info {
  margin-right: 10px; /* Maintain some spacing for responsiveness */
  display: flex; /* Allow wrapping if content overflows on smaller screens */
  flex-wrap: wrap; /* Enable content to wrap on small screens */
}

.copyright {
  margin: 0; /* Remove margin for cleaner layout */
  font-size: 0.8rem; /* Adjust font size for smaller screens */
}

@media only screen and (max-width: 900px) {
  .footer-content {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  .footer-info {
    margin: 0 10px 10px; /* Adjust margins for responsiveness */
  }
}

/* Estilos de columna izquierda (contenedor de formulario) */

.head_form {
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 20px;
}

.form_title {
  text-align: center;
  margin-bottom: 15px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_boxes {
  display: flex;
}

.form_boxes label {
  width: 120px;
  margin-right: 10px;
}

.input_button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input_button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

select.form_boxes {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn_group {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn_success {
  background: #28a745;
  color: white;
}

.btn_warning {
  background: #ffc107;
  color: black;
}

.btn_danger {
  background: #dc3545;
  color: white;
}

.btn_submit {
  background: #007bff;
  color: white;
}

.btn_primary {
  background: #a4ada3;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

/* Estilos de área de ubicación */
select.form_boxes[name="slUbic"] {
  width: 50%;
  margin: 5px;
}

/* Estilos de la columna derecha (actualmente vacía; agregue estilos según sea necesario) */
/*  Estilos de columna derecha aquí */

/* Estilos de la barra de búsqueda */
.busqueda {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: calc(100% - 80px);
  margin-right: 10px;
}

.busqueda:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .principal_columns {
    flex-direction: column;
  }

  .head_form {
    flex: 1; 
  }

  .form_boxes {
    flex-direction: column; 
  }

  .form_boxes label {
    margin-bottom: 5px;
  }

  .btn-group {
    flex-direction: column; 
  }

  .btn {
    margin-bottom: 5px;
  }

  .busqueda {
    width: 100%;
  }
}


.inside_form {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 20px;
}

/* Table Styles */

.table_inside {
  width: 100%;
  border-collapse: collapse;

} 

.table_insideuser {
  width: 25%;
  border-collapse: collapse;
  margin: 0 auto;
} 

.table_inside th,
.table_inside td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.table_inside thead {
  background: #f1f1f1;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; /* Wrap pagination items if they overflow */
}

.pagination .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .btn.border {
  border: 1px solid #ddd;
}

.pagination .btn:hover {
  opacity: 0.8;
}

.pagination .active { /* Style for the current page */
  background: #ddd;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .inside_form {
    /* Adjust padding for smaller screens */
    padding: 10px;
  }

  .table_inside {
    /* Make table more readable on narrow screens */
    font-size: 0.8em;
  }

  .table_inside th,
  .table_inside td {
    /* Reduce padding for better fit */
    padding: 5px;
  }

  .pagination {
    /* Wrap pagination buttons on smaller screens */
    flex-wrap: wrap;
  }
}

/* Seccion de estilos de caja de login */

.box
{
    position: relative;
    width: 380px;
    height: 420px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
}

.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.bordeline
{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderline::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent, #e25454,#e25454,#e25454);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box form
{
    position: absolute;
    inset: 4px;
    background: rgb(255, 0, 0);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2
{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input /**color de letras internas**/
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span /**color de palabras de cuadro*/
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #ffffff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}

.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 5px;
    background: #fffdfd;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form input[type="submit"]:active
{
    opacity: 0.8;
}

@media(max-height: 390px){
  .box {
    width: 80%;
    height: 70%;
  }
  .footer {
    display: none;
  }
  .container-navbarprelog {
    display: none;
  }
}

/* Final de seccion de estilos de caja de login */
